# Tell pip to find the smaller CPU-only versions of PyTorch first
--extra-index-url https://download.pytorch.org/whl/cpu

# Web Framework & Server
fastapi
uvicorn
python-multipart

# Machine Learning & Computer Vision
ultralytics
opencv-python-headless

# Database Connection
SQLAlchemy
psycopg2-binary
